//
//  Development.xcconfig
//  ios-boilerplate
//
//  Created by Can Baybunar on 19.11.2020.
//  Copyright © 2020 Adesso Turkey. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = com.adesso.ios-boilerplate.development
